<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mastering Your Own Audio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <header id="header"></header>
    <div class="container">
        <form th:action="@{/mastering/compressor1}" th:object="${inputAudioContent}" method="post" enctype="multipart/form-data">
            <div>
                <h4> Step 1: 오디오 업로드 </h4>
                <div class="mb-3">
                    <div class="d-flex justify-content-center">
                        <label for="AudioInputFile" class="form-label">음원 파일을 업로드하세요</label>
                        <input class="form-control" id="AudioInputFile" type="file" th:field="*{inputAudioFile}">
                    </div>
                </div>
                <hr class="hr" />
            </div>
            <div class="container">
                <h4> Step 2: Setting </h4>
                <div class="input-group mb-3" style="width: 30%">
                    <label for="inputThreshold" class="form-label">Threshold</label>
                    <input type="text" class="form-control" th:field="*{threshold}" id="inputThreshold" placeholder="-20.0">
                </div>
                <div class="input-group mb-3" style="width: 30%">
                    <label for="inputRatio" class="form-label">Ratio</label>
                    <input type="text" class="form-control" th:field="*{ratio}" id="inputRatio" placeholder="2.0">
                </div>
                <div class="input-group mb-3" style="width: 30%">
                    <label for="inputKnee" class="form-label">Knee</label>
                    <input type="text" class="form-control" th:field="*{knee}" id="inputKnee" placeholder="6.0">
                </div>
                <div class="input-group mb-3" style="width: 30%">
                    <label for="inputAttack" class="form-label">Attack</label>
                    <input type="text" class="form-control" th:field="*{attack}" id="inputAttack" placeholder="0.01">
                </div>
                <div class="input-group mb-3" style="width: 30%">
                    <label for="inputRelease" class="form-label">Release</label>
                    <input type="text" class="form-control" th:field="*{release}" id="inputRelease" placeholder="0.14">
                </div>
                <hr class="hr" />
            </div>
            <div class="d-flex justify-content-center">
                <button>
                    <label> 마스터링 시작 </label>
                </button>
            </div>
        </form>
        <div th:if="${AudioProcessStatus}">
            <label> 입력 음원</label>
            <audio controls>
                <source src="/mastering/audio/input.wav">
            </audio>
        </div>
        <div th:if="${AudioProcessStatus}">
            <label> 출력 음원 </label>
            <audio controls>
                <source src="/mastering/audio/output.wav">
            </audio>
        </div>
        <a href="/mastering/compressor">처음부터 다시하기</a>
    </div>

    <footer id="footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
